<label>serverName</label>
<div>
    <input type="text" class="form-control" (input)="onUpdate($event)">
</div>
<div>

    <input type="text" class="form-control" [(ngModel)]="server">
</div>

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onServerCreater()">clickHere</button>

<!-- <p>{{noServerCreater}}</p> -->
<!-- <p>{{data}}</p> -->
<p>{{server}}</p>
<p *ngIf="sentence ; else noServer">Hi Ahmed this is Direftive</p>

<ng-template #noServer>
    <p>no server work</p>
</ng-template>

<div>

    <label>Email</label>
    <div>
        <input type="text" class="form-control" [(ngModel)]="userEmail">
        {{userEmail}}
        
    </div>
    <button class="btn btn-primary"
    [disabled]="userEmail === ''"
    (click)="userEmail=''">Reset User</button>

</div>